ul.list-group {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;

}

img {
    width: 150px;
}

li {
    list-style-type: none;
}
.more{
    display: block;
    font-size: 30px;
    margin-top:10px ;
}